/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
  box-sizing: border-box;
}
.container {
	max-width: 600px;
	padding: 0 15px;
    margin: auto;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}
.left, .right {
  width: 8%;
}

.middle {
  width: 84%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column p {
  font-size: 1.2rem;
  margin: 1.5rem;
  line-height: 1.1;
}
button {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
  display: block;
  margin: 1.2rem 0;
}

#getNew {
	display: inline-block;
}

#logo {
	text-align: right;
	width:60%;
	display: inline-block;
	font-size: 1.2rem;
	vertical-align: middle;
}

button:hover, button:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: none;
}

button:active {
  border-color: red;
}

.left button {
  margin-right: 0;
  margin-left: auto;
}
.btns {
  text-align: center;
}
.btns button {
  display: inline-block;
  margin: auto 0.3rem;
}
